/** CSS reset **/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  min-height: 100svh;
}

body {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  line-height: 1;
}

/** General styles **/

:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --active-state: hsl(156, 59%, 25%);
}

body {
  display: grid;
  place-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.85rem;
  padding: 1rem;
  color: var(--dark-grayish-blue);
  background-color: var(--cream);
}

/** Product card component **/

.product {
  display: grid;
  max-width: 600px;
  border-radius: 0.5rem;
  background-color: var(--white);
  overflow: hidden;
  --content-padding: 1.44rem;
  --content-gap: 0.73rem;
}

@media (min-width: 600px) {
  .product {
    grid-template-columns: 1fr 1fr;
    --content-padding: 2rem;
  }
}

.product__content {
  display: grid;
  gap: var(--content-gap);
  padding: var(--content-padding);
}

.product__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.product__category {
  font-size: 0.75rem;
  letter-spacing: 5.3px;
  text-transform: uppercase;
}

.product__name {
  font-size: 2rem;
  font-family: "Fraunces", serif;
  color: var(--very-dark-blue);
}

.product__description {
  font-size: 0.9rem;
}

.product__current-price {
  font-size: 2rem;
  font-family: "Fraunces", serif;
  color: var(--dark-cyan);
}

.flex-group {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  flex-wrap: wrap;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  height: 0.76px;
  width: 0.76px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.57rem 1.2rem;
  font-size: 0.9rem;
  color: var(--white);
  background-color: var(--dark-cyan);
  font-weight: 700;
  text-decoration: none;
  gap: 0.7rem;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all ease 0.2s;
}

.button[data-icon="cart"]::before {
  height: 16px;
  width: 15px;
  content: "";
  background-image: url("images/icon-cart.svg");
}

.button:is(:hover, :focus) {
  background-color: var(--active-state);
}

.attribution {
  max-width: 600px;
  margin-top: 1.2rem;
  padding: 0.9rem 1.9rem;
  font-size: 1rem;
  border-radius: 12.5rem;
  text-align: center;
  background-color: var(--white);
}

.attribution a {
  color: var(--dark-cyan);
  font-weight: 700;
  text-decoration: none;
  transition: all ease 0.2s;
}

.attribution a:is(:hover, :focus) {
  color: var(--active-state);
}
